<div class="container">
  <div class="row">
      <div class="col s5 py-5">
          <div class="card">
              <div class="card-content">
                  <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                      <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="selectedUser._id">
                      <div class="row">
                          <div class="input-field col s12" style="display: contents;">
                              <input type="text" #name="ngModel" name="name" [(ngModel)]="selectedUser.name" placeholder="Enter user name">
                          </div>
                          <div class="input-field col s12" style="display: contents;">
                              <input type="text" #subname="ngModel" name="subname" [(ngModel)]="selectedUser.subname" placeholder="Enter user subname">
                          </div>
                          <div class="input-field col s12" style="display: contents;">
                              <input type="text" #DNI="ngModel" name="DNI" [(ngModel)]="selectedUser.DNI" placeholder="Enter user DNI">
                          </div>
                          <div class="input-field col s12" style="display: contents;">
                            <input type="text" #direction="ngModel" name="direction" [(ngModel)]="selectedUser.direction" placeholder="Enter user direction">
                          </div>
                          <div class="input-field col s12" style="display: contents;">
                            <input type="email" #email="ngModel" name="email" [(ngModel)]="selectedUser.email" placeholder="Enter user email">
                          </div>
                          <div class="input-field col s12" style="display: contents;">
                              <input type="number" #CP="ngModel" name="CP" [(ngModel)]="selectedUser.CP" placeholder="Enter user CP">
                          </div>
                          <div class="input-field col s12" style="display: contents;">
                            <input type="tel" #telephone="ngModel" name="telephone" [(ngModel)]="selectedUser.telephone" placeholder="Enter user telephone">
                        </div>
                          <div class="card-action" style="display: contents;">
                              <div class="input-field col s12" style="padding-top: 30px;">
                                  <button class="btn right" (click)="resetForm(userForm)">Clean</button>
                                  <button class="btn right mr-2">Save</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="col s7 py-5">
          <table>
              <thead>
                  <th>Name</th>
                  <th>Subname</th>
                  <th>DNI</th>
                  <th>Adress</th>
                  <th>Email</th>
                  <th>CP</th>
                  <th>phone</th>
              </thead>
              <tbody>
                  <tr *ngFor='let user of userCollection'>
                      <td>{{user?.name}}</td>
                      <td>{{user?.subname}}</td>
                      <td>{{user?.DNI}}</td>
                      <td>{{user?.direction}}</td>
                      <td>{{user?.email}}</td>
                      <td>{{user?.CP}}</td>
                      <td>{{user?.telephone}}</td>
                      <td>
                          <a>
                              <i class="material-icons pointer" (click)='editUser(user)'>edit</i>
                          </a>
                          <a>
                              <i class="material-icons pointer" (click)='deleteUser(user._id)'>delete</i>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

