<nav  class="nav-extended  bg-secundary">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo ml-2"><img src="../../../assets/logo.png" alt="Logo" style="width: 50%;"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/product">Products</a></li>
        <li><a routerLink="/user">User</a></li>
        <li><a routerLink="/order">Order</a></li>
      </ul>
    </div>
</nav>
